@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url(form/form.css);
@import url(image.css);
@import url(gif.css);
@import url(modal.css);
html {
  line-height: 1.15;
  text-size-adjust: 100%;
}
body {
  height: 100vh;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  /* min-width: 300px; */
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.form-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  order: 2;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}
.img-container {
  height: 30vh;
  width: 100vw;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 998px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .form-container {
    height: 100vh;
    width: 55vw;
  }
  .img-container {
    height: 100vh;
    width: 45vw;
  }
}
@media only screen and (min-width: 1201px) {
  .form-container {
    height: 100vh;
    width: 40vw;
  }
  .img-container {
    height: 100vh;
    width: 60vw;
  }
}
