@import url(input.css);
@import url(pixel-range.css);
@import url(pixel-input-box.css);
@import url(pixel-checkbox.css);
@import url(pixel-btn.css);
@import url(input-requirements.css);
.register-form {
  display: flex;
  flex-direction: column;
  width: 89%;
  height: 95%;
  margin: 1.5rem;
  overflow: auto;
}

.register-form h3 {
  justify-content: left;
  align-items: flex-start;
  font-size: 2.6rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (min-width: 998px) {
  .register-form {
    overflow: visible;
  }
  .input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
}
