.pixel-field {
  width: 100%;
}
.pixel-field label {
  display: block;
  color: gray;

  font-size: 1.1rem;
}

.pixel-input {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  height: 50px;
  width: 100%;
}
.btn-container {
  display: flex;
  justify-content: flex-end;

  margin-top: 1rem;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
/* input:not([type='submit']):valid {
  border-color: #2ecc71;
} */

@media only screen and (min-width: 998px) {
  .pixel-field {
    display: flex;
    flex-direction: column;
    width: 48.7%;
    max-width: 272px;
  }
  .pixel-field label {
    font-size: 1rem;
  }
  .pixel-input {
    width: 100%;
    height: 60px;
  }
  .inline {
    width: 100%;
    max-width: 562px;
  }
  .inline input {
    width: 100%;
  }
  .btn-container {
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1201px) {
  .pixel-field {
    width: 48.4%;
    max-width: 300px;
  }
  .inline {
    width: 100%;
    max-width: 614px;
  }
}
