.input-requirements {
  font-size: 0.8rem;
  font-style: italic;
  text-align: left;
  color: rgb(150, 150, 150);
}
.input-requirements li.invalid {
  color: #e74c3c;
}
.input-requirements li.valid {
  color: #2ecc71;
}

.input-requirements li.valid:after {
  display: inline-block;
  padding-left: 10px;
  content: '\2713';
}

input:not([type='submit']) + .input-requirements {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;
  padding-left: 1rem;
}
input:not([type='submit']):hover + .input-requirements,
input:not([type='submit']):focus + .input-requirements,
input:not([type='submit']):active + .input-requirements {
  max-height: 1000px;
  transition: max-height 1s ease-in;
}
