.pixel-input {
  border: 4px solid #000000;

  position: relative;
  box-sizing: border-box;
}

.pixel-input::after,
.pixel-input::before {
  background-color: white;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
}
.pixel-input::after {
  bottom: -1px;
  right: -1px;
}
.pixel-input::before {
  top: -1px;
  left: -1px;
}
