.chbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0 1rem 0;
}
.chbox-container input {
  height: 1rem;
  width: 10%;
  margin: 0;
}
.chbox-container label {
  font-size: 0.9rem;
  order: 2;
  margin-left: 1rem;
  text-align: justify;
}
