.pixel-btn {
  width: auto;
  border: 4px solid black;
  /* display: inline-block; */
  /* position: relative; */
  text-align: center;
  font-size: 1.8rem;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  background: #92cd41;
  color: white;
}
.pixel-btn:hover,
.pixel-btn:focus {
  background: #76c442;
  box-shadow: inset (-6px * 1.5) (-4px * 1.5) 0px 0px #4aa52e;
}

.pixel-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}
